<table>
    <tbody>
      <tr>
        <th>AtTask Subdomain</th>
        <td><input type="text" id="settings_attask_subdomain"
                       value="<%= settings['attask_subdomain'] %>"
               name="settings[attask_subdomain]" >
      </tr>
      <tr>
        <th>AtTask Username</th>
        <td><input type="text" id="settings_attask_username"
                       value="<%= settings['attask_username'] %>"
               name="settings[attask_username]" >
      </tr>
      <tr>
        <th>AtTask Password</th>
        <td><input type="password" id="settings_attask_password"
                       value="<%= settings['attask_password'] %>"
               name="settings[attask_password]" >
      </tr>
    </tbody>
  </table>
